{% extends 'base.html' %}

{% block body %}

  <div class="jumbotron jumbotron-fluid bg-light">
    <div class="row container">

      <div class="col-4 d-flex justify-content-center">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e7/Instagram_logo_2016.svg/1200px-Instagram_logo_2016.svg.png" height="150px" width="150px">
      </div>

      <div class="col-8">

        <div class=" col-6 row align-items-center justify-content-between">

          <h1 class="display-4">{{user_info.username}}</h1>

          {% if user.is_authenticated and user != user_info %}
            {% if user in user_info.followers.all %}
              <a href="{% url 'accounts:follow' user_info.id %}" class="btn btn-danger btn-sm mx-2">팔로우 취소</a>
            {% else %}
              <a href="{% url 'accounts:follow' user_info.id %}" class="btn btn-primary btn-sm mx-2">팔로우 하기</a>
            {% endif %}
          {% elif user.is_authenticated and user == user_info %}
            <div class="row">
              <a href="{% url 'accounts:update' %}" class="btn btn-primary btn-sm m-1">정보 수정</a>
              <a href="{% url 'accounts:password' %}" class="btn btn-primary btn-sm m-1">비밀번호 변경</a>
              <form action="{% url 'accounts:delete' user_info.id %}" method="POST">
                {% csrf_token %}
                <input type="submit" class="btn btn-danger btn-sm m-1" value="회원 탈퇴">
              </form>
            </div>
          {% endif %}

          <a href="{% url 'accounts:logout' %}" class="text-dark"><i class="fas fa-cog"></i></a>

        </div>

        <div class="row">
          <p class="lead mr-5">게시물 {{user_info.post_set.all|length}}</p>
          <p class="lead mr-5">팔로워 {{user_info.followers.all|length}}</p>
          <p class="lead mr-5">팔로잉 {{user_info.followings.all|length}}</p>
        </div>

      </div>

    </div>

    <hr class="my-2">

    {% if user_info.post_set.all %}
      <div class="row col-12">
        {% for post in user_info.post_set.all %}
          {% include 'posts/_post.html' %}
        {% endfor %}
      </div>
    {% else %}
      <div class="jumbotron bg-white">
        <div class="container">
          <p class="lead">아직 작성된 게시물이 없습니다.</p>
        </div>
      </div>
    {% endif %}
    
  </div>

{% endblock %}