{% load bootstrap4 %}
{% load make_link %}

<a href="" class="m-3" data-toggle="modal" data-target="#modal{{post.id}}">
  <img src="{{post.image.url}}" class="card-img-top" />
</a>
<div
  class="modal fade py-5"
  id="modal{{post.id}}"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
    <div class="modal-content">
      <div class="row mx-1">
        <div class="col-6 d-flex">
          <img src="{{post.image.url}}" alt="" class="mx-auto justify-content-center align-self-center" />
        </div>
        <div class="col-6">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalCenterTitle">
              <a
                href="{% url 'account:userpage' post.user_id %}"
                class="text-dark"
                >{{post.user}}</a
              >
              {% if user != post.user %}
                {% if user in user_info.followers.all %}
                  ·
                  <a
                    href="{% url 'account:follow' post.user_id %}"
                    class="text-decoration-none text-danger"
                    style="font-size: small"
                    >Unfollow</a
                  >
                {% else %}
                  ·
                  <a
                    href="{% url 'account:follow' post.user_id %}"
                    class="text-decoration-none text-primary"
                    style="font-size: small"
                    >Follow</a
                  >
                {% endif %}
              {% endif %}
            </h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">{{post|hashtag_link|safe}}</div>
          <div class="d-flex flex-row-reverse">
            <p class="text-secondary">Written at {{post.created_at}}</p>
          </div>
          <hr />
          <form action="{% url 'post:comment_create' post.id %}" method="POST" class="d-inline">
            {% csrf_token %}
            {% bootstrap_form comment_form %}
            <input type="submit" value="Submit" class="btn btn-sm btn-primary">
          </form>
          <hr />
          {% for post_id, comments in comments.items %}
            {% if post_id == post.id %}
              {% for comment in comments %}
                <div class="row col-12 d-flex justify-content-between">
                  <p>{{comment.user.username}}: {{comment.content}}</p>
                  {% if comment.user == request.user %}
                    <form action="{% url 'post:comment_delete' post_id=post.id comment_id=comment.id %}" method="POST" class="ml-5">
                      {% csrf_token %}
                      <input type="submit" value="Delete" class="btn btn-sm btn-danger">
                    </form>
                  {% endif %}
                </div>
              {% endfor %}
            {% endif %}
          {% endfor %}
          {% if post.id not in comments.keys %}
            <p>Please leave the first comment.</p>
          {% endif %}
          <div class="modal-footer">
            <a
              href="{% url 'post:update' post.id %}"
              class="btn btn-sm btn-warning"
              >Edit</a
            >
            <a
              href="{% url 'post:delete' post.id %}"
              class="btn btn-sm btn-danger"
              >Delete</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
